<app-menu></app-menu>
<div class="component">
  <div>
    <span>Request Review</span>
  </div>
  <table class="table table-sm">
    <thead>
      <tr>
        <td>Id</td>
        <td>Description</td>
        <td>Status</td>
        <td>Total</td>
        <td>User</td>
        <td>Action</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let request of requests'>
        <td>{{ request.Id }}</td>
        <td>{{ request.Justification }}</td>
        <td>{{ request.Status }}</td>
        <td>{{ request.Total | currency }}</td>
        <td>{{ request.User.Lastname }}</td>
        <td>
          <a routerLink='/requests/request-detail/{{request.Id}}'>Review</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>