<app-menu></app-menu>
<div class="component">
  <div>
    <span>User List</span>
    <span *ngIf="isAdmin"> | <a routerLink='/users/create'>Create New</a></span>
  </div>
  <table class="table table-sm" *ngIf="users">
    <thead>
      <tr>
        <td><button [ngClass]='colClasses' (click)='sortBy("Id")'>Id</button></td>
        <td><button [ngClass]='colClasses' (click)='sortBy("Lastname")'>Name</button></td>
        <td><button [ngClass]='colClasses' (click)='sortBy("Username")'>Username</button></td>
        <td><button [ngClass]='colClasses' (click)='sortBy("Phone")'>Phone</button></td>
        <td><button [ngClass]='colClasses' (click)='sortBy("Email")'>Email</button></td>
        <td><button [ngClass]='colClasses' (click)='sortBy("IsReviewer")'>Reviewer?</button></td>
        <td><button [ngClass]='colClasses' (click)='sortBy("IsAdmin")'>Admin?</button></td>
        <td><button [ngClass]='colClasses' disabled>Active</button></td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let user of users | sort:sortColumn:sortOrder'>
        <td>{{ user.Id }}</td>
        <td>{{ user.Firstname }} {{ user.Lastname }}</td>
        <td>{{ user.Username }}</td>
        <td>{{ user.Phone }}</td>
        <td>{{ user.Email }}</td>
        <td>{{ user.IsReviewer | bool }}</td>
        <td>{{ user.IsAdmin | bool }}</td>
        <td>
          <a routerLink='/users/detail/{{user.Id}}'>Detail</a>
          <span *ngIf="isAdmin"> | <a routerLink='/users/edit/{{user.Id}}'>Edit</a></span>
        </td>
      </tr>
    </tbody>
  </table>
</div>