<app-menu></app-menu>
<div class="component">
  <div>
    <span>User List</span>
    | <a routerLink='/users/create'>Create New</a>
  </div>
  <table class="table table-sm" *ngIf="users">
    <thead>
      <tr>
        <td>Id</td>
        <td>Name</td>
        <td>Username</td>
        <td>Phone</td>
        <td>Email</td>
        <td>Reviewer?</td>
        <td>Admin?</td>
        <td>Action</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let user of users | sortUsers'>
        <td>{{ user.Id }}</td>
        <td>{{ user.Firstname }} {{ user.Lastname }}</td>
        <td>{{ user.Username }}</td>
        <td>{{ user.Phone }}</td>
        <td>{{ user.Email }}</td>
        <td>{{ user.IsReviewer | bool }}</td>
        <td>{{ user.IsAdmin | bool }}</td>
        <td>
          <a routerLink='/users/detail/{{user.Id}}'>Detail</a>
          | <a routerLink='/users/edit/{{user.Id}}'>Edit</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>